In [9]:
import pandas as pd, re

df = pd.read_csv('../data/New_Delhi_reviews.csv')
df.dropna(inplace=True)

df.astype(str)

       rating_review                                        review_full
0                  5  Totally in love with the Auro of the place, re...
1                  5  I went this bar 8 days regularly with my husba...
2                  5  We were few friends and was a birthday celebra...
3                  5  Fatjar Cafe and Market is the perfect place fo...
4                  5  Hey Guys, if you are craving for pizza and sea...
...              ...                                                ...
147576             5  Near by airport very calm and cool environment...
147577             5  My favourite place to stay. Great service. Ash...
147578             5  good food with nice decoration, drinks list al...
147579             4  Near to airport .it is fine property.  Staff i...
147580             5  Amazing food ..  Excellent ambience ..  Great ...

[147579 rows x 2 columns]

In [12]:
def remove_emojis(data):
    emoj = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                      "]+", re.UNICODE)
    return re.sub(emoj, '', data)

df.review_full.apply(remove_emojis)

def remove_link(data):
    return re.sub(r'http\S+', '', data)

def remove_punctuation(data):
    return re.sub(r'[^\w\s]', '', data)

def lower(data):
    return data.lower()

df['review_full'] = df.review_full.apply(remove_link)
df['review_full'] = df.review_full.apply(remove_punctuation)
df['review_full'] = df.review_full.apply(lower)

review 
print(df.head())

   rating_review                                        review_full
0              5  totally in love with the auro of the place rea...
1              5  i went this bar 8 days regularly with my husba...
2              5  we were few friends and was a birthday celebra...
3              5  fatjar cafe and market is the perfect place fo...
4              5  hey guys if you are craving for pizza and sear...

In [13]:
df.to_csv('../data/New_Delhi_reviews_rnn.csv', index=False, encoding='utf-8')